<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="cantidad" class="form-label">Ingrese cantidad</label>
                <input type="email" class="form-control form-control-lg" id="cantidad" placeholder="Ingrese cantidad">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dedivisa">De la Divisa</label>
                <select class="form-select form-select-lg" id="dedivisa">
                <option selected>Selecciona Moneda</option>
                <option value="1">USD</option>
                <option value="2">Euro</option>
                <option value="3">Soles</option>
              </select>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label for="paradivisa">A la Divisa</label>
                <select class="form-select form-select-lg" id="paradivisa">
                    <option selected>Selecciona Moneda</option>
                    <option value="1">USD</option>
                    <option value="2">Euro</option>
                    <option value="3">Soles</option>
                  </select>
            </div>
        </div>
    </div>
    <h5 class="text-center mt-4">
        <span class="badge bg-success">1000 USD</span>
        <span class="badge bg-secondary">SON</span>
        <span class="badge bg-success">1020 EUR</span>
    </h5>
</div>